.courses_container {
    width: 90vw;
    margin: 0 auto;
    display: flex;

    flex-direction: column;
    padding-block: 1rem;
    background-color: var(--clr-bg);
    color: var(--clr-text-main);
}

.card_container {
    margin-right: 1rem;
    margin-block: 1rem;
}

.courses {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-evenly;

}

.courses::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.image_container img{
    height: 100px;
}

.button{
    background-color: tomato;
    border:1px solid tomato;
    border-radius: 10px;
    padding: 4px;
    width: 10rem;
    font-size: large;
    font-weight: bold;
    color: white;
    &:hover{
        background-color: transparent;
    }
}